<% layout('layout') -%>

<div class="col-md-12">
	
	<div class="alert alert-danger alert-dismissable" id="errordivu" style="display:none;">
		<i class="fa fa-ban"></i>
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">?</button>
		<label id="erroru" class="control-label" for="inputError"></label>
	</div>
	
	<div class="alert alert-success alert-dismissable" id="okdiv" style="display:none;">
		<i class="fa fa-check"></i>
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">?</button>
		<label class="control-label" for="inputSuccess"><i class="fa fa-check"></i> Registration completed!</label>
	</div>
		
	<div class="box box-primary">
		<div class="box-header">
			<h3 class="box-title"><b>Role</b> <%= role.name %></h3>
		</div><!-- /.box-header -->
		
		<!-- form start -->
		<form role="form" id="newroleform" name="newroleform">
			<div class="box-body">

				<div class="form-group">
					<label>Name <b>*</b></label>
					<div class="input-group">
						<span class="input-group-addon">@</span>
						<input type="text" class="form-control" name="name" id="name" placeholder="Set role name" required="required" value="<%= role.name %>">
					</div>
				</div>
				
				<div class="form-group">
					<label>Can Write ? <b>*</b></label>
					<div class="row">
					  <div class="col-lg-2">
					    <div class="input-group">
					      <span class="input-group-addon">
					        <input type="radio" name="canwrite" value="yes" <%= (role.canWrite=='yes') ? "checked" : "" %> />
					      </span>
					     <input type="text" class="form-control" disabled="disabled" value="Yes" />
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->
					  <div class="col-lg-2">
					    <div class="input-group">
					      <span class="input-group-addon">
					        <input type="radio" name="canwrite" value="no" <%= (role.canWrite=='no') ? "checked" : "" %> />
					      </span>
					      <input type="text" class="form-control" disabled="disabled" value="No" />
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->
					</div><!-- /.row -->
				</div>
				
				<div class="form-group">
					<label>Can Read ? <b>*</b></label>
					<div class="row">
					  <div class="col-lg-2">
					    <div class="input-group">
					      <span class="input-group-addon">
					        <input type="radio" name="canread" value="yes" <%= (role.canRead=='yes') ? "checked" : "" %> />
					      </span>
					     <input type="text" class="form-control" disabled="disabled" value="Yes" />
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->
					  <div class="col-lg-2">
					    <div class="input-group">
					      <span class="input-group-addon">
					        <input type="radio" name="canread" value="no" <%= (role.canRead=='no') ? "checked" : "" %> />
					      </span>
					      <input type="text" class="form-control" disabled="disabled" value="No" />
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->
					</div><!-- /.row -->
				</div>
				
				<div class="form-group">
					<label>Can Create ? <b>*</b></label>
					<div class="row">
					  <div class="col-lg-2">
					    <div class="input-group">
					      <span class="input-group-addon">
					        <input type="radio" name="cancreate" value="yes" <%= (role.canCreate=='yes') ? "checked" : "" %> />
					      </span>
					     <input type="text" class="form-control" disabled="disabled" value="Yes" />
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->
					  <div class="col-lg-2">
					    <div class="input-group">
					      <span class="input-group-addon">
					        <input type="radio" name="cancreate" value="no" <%= (role.canCreate=='no') ? "checked" : "" %> />
					      </span>
					      <input type="text" class="form-control" disabled="disabled" value="No" />
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->
					</div><!-- /.row -->
				</div>
				
				<div class="form-group">
					<label> Select <b>collections</b> to omit</label>
					<div id="omitSel">
						
					</div>
				</div>

				<b>*</b> <small>Mandatory field</small>

			</div><!-- /.box-body -->

			<div class="box-footer" style="text-align:center;">
				<button type="submit" class="btn btn-primary" id="btnSalva">Save Role</button>
			</div>
		</form>
		
	</div>
</div>

<!-- Validation -->
<script type="text/javascript" src="/js/jquery.validate.js" ></script>

<script type="text/javascript">
$( document ).ready(function() {

	$.post('/collection/list.json', userAndToken, function(res) {
		
		var collezioni = res["aaData"];
		
		var html = '';
		
		var n = 0;
		
		collezioni.forEach(function(item) {
		
			var nomeColl = item['name'];
			var nomeCollClean = nomeColl.replace(/ /g,'');
		
			if(n%3 == 0)
				html += '<div class="row">';
				
			html += '<div class="col-lg-4">\
					<div class="input-group">\
						<span class="input-group-addon">\
					    	<input type="checkbox" name="omit_col[]" value="'+ nomeCollClean +'" >\
					     </span>\
						 <input type="text" class="form-control" disabled="disabled" value="'+ nomeColl +'" />\
					</div><!-- /input-group -->\
				</div><!-- /.col-lg-6 -->';
				
			n++;
			if(n%3 == 0)
				html += '</div>';
				
		})
		
		if(n%3 != 0)
			html += '</div>';
			
		$('#omitSel').html(html);
		
		 		
	});

	$("#newroleform").validate({
		rules: {
		  password: "required",
		  retypepassword: {
			equalTo: "#password"
		  }
		},
		submitHandler: function(form) {

			//$('input[name=radioName]:checked', '#myForm').val()
			
			var coll_omit = new Array();
			$.each($("input[name='coll_omit[]']:checked"), function() {
			  coll_omit.push($(this).val());
			
			});

			$.ajax({
				type: "POST",
				url: "/role/create",
				data: {
					name: $('#name').val(),
					canWrite: $('input[name=canwrite]:checked', '#newroleform').val(),
					canRead: $('input[name=canread]:checked', '#newroleform').val(),
					canCreate: $('input[name=cancreate]:checked', '#newroleform').val(),
					omitCollections: coll_omit,
					username: splits[0],
					token: splits[1]
				},
				success: function( data, status) {

					if(status == 'success' && data == $('#username').val()){
						$('#okdiv').show();
					}else{
						$('#errordivu').show();
						$('#erroru').html(data.message);
					}
				},
				error: function ( req, status, error){
					$('#errordivu').show();
					$('#erroru').html(error);
				}
			});

		}
	});

});
</script>