<% layout('layout') -%>

<div class="col-md-12">

	<div class="alert alert-danger alert-dismissable" id="errordivu" style="display:none;">
		<i class="fa fa-ban"></i>
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<label id="erroru" class="control-label" for="inputError"></label>
	</div>

	<div class="alert alert-success alert-dismissable" id="okdiv" style="display:none;">
		<i class="fa fa-check"></i>
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<label class="control-label" for="inputSuccess"><i class="fa fa-check"></i> User updated!</label>
	</div>

	<div class="box box-primary">
		<div class="box-header">
			<h3 class="box-title">Edit User</h3>
		</div><!-- /.box-header -->

		<!-- form start -->
		<form role="form" id="updateuserform">
			<div class="box-body">

				<div class="form-group">
					<label>Name <b>*</b></label>
					<div class="input-group">
						<input type="text" class="form-control" name="name" id="name" placeholder="Set user name" required="required" value="<%= user.name %>" >
					</div>
				</div>

				<div class="form-group">
					<label>Surname <b>*</b></label>
					<div class="input-group">
						<input type="text" class="form-control" name="surname" id="surname" placeholder="Set user surname" required="required" value="<%= user.surname %>" >
					</div>
				</div>

				<div class="form-group">
					<label>Email address <b>*</b></label>
					<div class="input-group">
						<span class="input-group-addon">@</span>
						<input type="text" class="form-control" name="username" id="username" placeholder="Set user email address" required="required" value="<%= user.username %>" disabled="disabled">
					</div>
				</div>

				<div class="form-group">
					<label>Password </label>
					<div class="input-group">
						<span class="input-group-addon">***</span>
						<input type="text" class="form-control" name="password" id="password" placeholder="Set new user password" />
					</div>
				</div>

				<div class="form-group">
					<label>Confirm password </label>
					<div class="input-group">
						<span class="input-group-addon">***</span>
						<input type="password" class="form-control" name="cpassword" id="cpassword" placeholder="Confirm new user password"   />
					</div>
				</div>
				
				<div class="form-group">
					<label>is Dev? </label>
					<input type="checkbox" name="isdev" id="isdev" <%= user.isDev ? 'checked=checked' : '' %>/>
				</div>
				
				<div class="form-group">
					<label>is Admin? </label> 
					<input type="checkbox" name="isadmin" id="isadmin" <%= user.isAdmin ? 'checked=checked' : '' %>/>
				</div>

				<div class="form-group">
					<label>Role <b>*</b></label>
					
					<select class="form-control" id="role">
						<option value=""></option>					
						<% 	
								var userRole = (user.roles[0]) ? user.roles[0] : '';

							roles.forEach(function(role, index){%>
						<option value="<%=role.name%>" <%= (userRole == role._id) ? 'selected=selected' : '' %>><%=role.name%></option>
						<% }) %>
					</select>
				</div>
				
				<div class="form-group">
					<label>Extra fields</label>
					<textarea class="form-control" id="extraFields">
						<%= (user.extraFields) ? user.extraFields : '' %>
					</textarea>
					<!-- TODO: handle extra fields editing -->
				</div>

				<b>*</b> <small>Mandatory field</small>

			</div><!-- /.box-body -->

			<div class="box-footer">
				<button type="submit" class="btn btn-primary" id="btnSalva">Edit User</button>
			</div>
		</form>

	</div>
</div>

<!-- Validation -->
<script type="text/javascript" src="/js/jquery.validate.js" ></script>

<script type="text/javascript">
$( document ).ready(function() {

	$("#updateuserform").validate({
		rules: {
		  cpassword: {
			equalTo: "#password"
		  }
		},
		submitHandler: function(form) {
			
			var userData = {
				userid: '<%= user.id %>',
				name: $('#name').val(),
				surname: $('#surname').val(),
				username: splits[0],
				token: splits[1],
				isAdmin: $("#isadmin").is(':checked'),
				isDev: $("#isdev").is(':checked'),
				role: $( "#role option:selected" ).text(),
				extraFields: $('#extraFields').val()
			};
			
			if($('#password').val().length > 0) {
				userData.password = $('#password').val();
			}
			
			$.ajax({
				type: "POST",
				url: "/user/update",
				data: userData,
				success: function( data, status) {

					if(status == 'success' && data.user == $('#username').val()){
						$('#okdiv').show();
					}else{
						$('#errordivu').show();
						$('#erroru').html(data.message);
					}
				},
				error: function ( req, status, error){
					$('#errordivu').show();
					$('#erroru').html(error);
				}
			});

		}
	});

});
</script>
